# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

---
name: Build and Push

on:
  workflow_call:
    inputs:
      workdir:
        required: true
        type: string
        description: "Workdir"
      config:
        required: false
        type: string
        description: "Config file"
    secrets:
      github-token:
        description: "Github token"
        required: false
      gpg-private-key:
        description: "GPG private key for signing"
        required: true
      gpg-passphrase:
        description: "GPG passphrase for signing"
        required: true

jobs:
  build-and-release:
    name: Build and Release Go
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v4.2.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@3a0c2c82458cbb45a3cbfeeb2b91ce8f85420560 # v5.5.0
        with:
          cache: false

      - name: Restart GPG Agent
        run: |
          gpgconf --kill gpg-agent
          gpgconf --launch gpg-agent

      - name: Import GPG Key
        run: |
          mkdir -p /tmp/gpg
          echo "${{ secrets.gpg-private-key }}" > /tmp/gpg/private-key.asc
          gpg --batch --yes --pinentry-mode loopback --import /tmp/gpg/private-key.asc
        env:
          GPG_TTY: /dev/tty

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: '~> v2'
          workdir: ${{ inputs.workdir }}
          args: release --clean --config ${{ inputs.config }}
          install-only: false
        env:
          GITHUB_TOKEN: ${{ secrets.github-token }}
          GPG_PASSPHRASE: ${{ secrets.gpg-passphrase }}
